# Основные фреймворки ботаaiogramapschedulerpydantic-settings python-dotenv# Компоненты для работы с БД (PostgreSQL)SQLAlchemypsycopg2-binary==2.9.11asyncpg # Компоненты для шифрованияcryptography  <-- ДОБАВЬ ЭТУ СТРОКУ# Компоненты для работы с сетью/парсингом (если используешь)requests beautifulsoup4